<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ryccoatika.imagetotext">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <dist:module dist:instant="true"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:versionCode="2"
            android:versionName="1.0.1"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashScreenActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".home.HomeActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <!-- https://github.com/ArthurHub/Android-Image-Cropper -->
        <activity
                android:name="com.canhub.cropper.CropImageActivity"
                android:theme="@style/Theme.AppCompat"/>
        <activity
                android:name=".textscanneddetail.TextScannedDetailActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"/>
        <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="ocr"/>
    </application>

</manifest>